{
  "openapi": "3.0.0",
  "info": {
    "title": "Keys.so API",
    "description": "API интерфейс используется для того, чтобы интегрировать возможности сервиса Keys.so в личный проект клиента. API предназначен для разработчиков и сопровождается детальной документацией.",
    "version": "1.0.2",
    "x-logo": {
      "url": "https://www.keys.so/i/icons/logo-black.svg",
      "altText": "keys.so",
      "href": "https://www.keys.so/ru"
    },
    "x-codeSamples": true
  },
  "servers": [
    {
      "url": "https://api.keys.so",
      "description": "Все ссылки на запросы к API в данной документации включают обязательный основной URL."
    }
  ],
  "externalDocs": {
    "description": "📄 Изменения в API (Changelog)",
    "url": "https://www.keys.so/ru/api-changelog"
  },
  "paths": {
    "/report/simple/domain_dashboard": {
      "get": {
        "tags": [
          "Дашборд"
        ],
        "operationId": "Информация о домене (Дашборд)",
        "description": "Пример запроса: `https://api.keys.so/report/simple/domain_dashboard?base=msk&domain=wildberries.ru`",
        "parameters": [
          {
            "$ref": "#/components/parameters/defaultBase"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Имя домена",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные о домене",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Идентификатор домена",
                      "type": "integer",
                      "example": 29918348
                    },
                    "name": {
                      "description": "Название домена",
                      "type": "string",
                      "example": "wildberries.ru"
                    },
                    "dr": {
                      "description": "Рейтинг домена",
                      "type": "integer",
                      "example": 45
                    },
                    "iconUrl": {
                      "description": "Урл иконки домена",
                      "type": "string",
                      "example": "https://keys-so-domain-icons.keys.so/domain-icons/1eb492d83b91420d3662ee367e4248c15f1950925c0da237125416ab2aa67886.png"
                    },
                    "parentid": {
                      "description": "Идентификатор родительского домена, если домен является поддоменом",
                      "type": "integer",
                      "example": 0
                    },
                    "parentName": {
                      "description": "Имя родительского домена, если домен является поддоменом",
                      "type": "string",
                      "example": ""
                    },
                    "childsCount": {
                      "description": "Количество поддоменов сайта",
                      "type": "integer",
                      "example": 18
                    },
                    "it1": {
                      "description": "Запросов в топ 1",
                      "type": "integer",
                      "example": 86990
                    },
                    "it3": {
                      "description": "Запросов в топ 3",
                      "type": "integer",
                      "example": 302770
                    },
                    "it5": {
                      "description": "Запросов в топ 5",
                      "type": "integer",
                      "example": 455279
                    },
                    "it10": {
                      "description": "Запросов в топ 10",
                      "type": "integer",
                      "example": 742944
                    },
                    "it50": {
                      "description": "Запросов в топ 50",
                      "type": "integer",
                      "example": 1683529
                    },
                    "restop5": {
                      "description": "Процент ключей из ТОП50, занимающий позиции в ТОП5",
                      "type": "integer",
                      "example": 27
                    },
                    "topvis": {
                      "description": "По видимости",
                      "type": "integer",
                      "example": 141
                    },
                    "topkeys": {
                      "description": "По охвату ключей",
                      "type": "integer",
                      "example": 99
                    },
                    "pagesinindex": {
                      "description": "Страниц в выдаче",
                      "type": "integer",
                      "example": 117711
                    },
                    "vis": {
                      "description": "Ориентировочное количество пользователей из органического поиска в сутки",
                      "type": "integer",
                      "example": 110373
                    },
                    "adtraf": {
                      "description": "Оценка трафика из контекста без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, разделенное на 30 дн",
                      "type": "integer",
                      "example": 33507
                    },
                    "adcost": {
                      "description": "Оценка бюджета без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, на стоимость клика, разделенное на 30 дней",
                      "type": "integer",
                      "example": 1110959
                    },
                    "adscnt": {
                      "description": "Количество объявлений в контексте",
                      "type": "integer",
                      "example": 16075
                    },
                    "adkeyscnt": {
                      "description": "Количество запросов в контексте",
                      "type": "integer",
                      "example": 732392
                    },
                    "keys": {
                      "description": "Органическая выдача, ключевые фразы, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "word": {
                            "description": "Ключевая фраза",
                            "type": "string",
                            "example": "интернет магазин"
                          },
                          "ws": {
                            "description": "Базовая частотность",
                            "type": "integer",
                            "example": 31497995
                          },
                          "wsk": {
                            "description": "\"!Очень !точная !частотность\"",
                            "type": "integer",
                            "example": 185018
                          },
                          "pos": {
                            "description": "Позиция в выдаче",
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    },
                    "concs": {
                      "description": "Органическая выдача, конкуренты, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "description": "Идентификатор домена",
                            "type": "integer",
                            "example": 14791338
                          },
                          "name": {
                            "description": "Имя домена",
                            "type": "string",
                            "example": "yandex.ru"
                          },
                          "cnt": {
                            "description": "Общих ключей в топ 50",
                            "type": "integer",
                            "example": 1304735
                          },
                          "perc": {
                            "description": "Степень похожести домена (% общих ключей от ключей домена)",
                            "type": "double",
                            "example": 2.23
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска",
                            "type": "integer",
                            "example": 9013545
                          }
                        }
                      }
                    },
                    "pages": {
                      "description": "Органическая выдача, страницы, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "description": "URL страницы",
                            "type": "string",
                            "example": "/content/size.html"
                          },
                          "it50": {
                            "description": "Общих ключей в топ 50",
                            "type": "string",
                            "example": 5321
                          }
                        }
                      }
                    },
                    "ads": {
                      "description": "Органическая выдача, страницы, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор объявления",
                            "type": "integer",
                            "example": 1424
                          },
                          "header": {
                            "description": "Заголовок объявления",
                            "type": "string",
                            "example": "Модные шапки - коллекция 2017 – Более 30000 моделей"
                          },
                          "txt": {
                            "description": "Текст объявления",
                            "type": "string",
                            "example": "Скидки до 70% бесплатная курьерская доставка по России"
                          },
                          "links": {
                            "description": "Быстрые ссылки",
                            "type": "string",
                            "example": "Шапки для детей|Шапки для женщин|Шапки для мужчин"
                          },
                          "facts": {
                            "description": "Факты",
                            "type": "string"
                          },
                          "keyscnt": {
                            "description": "Количество запросов",
                            "type": "integer",
                            "example": 5321
                          }
                        }
                      }
                    },
                    "adkeys": {
                      "description": "Контекстная реклама, ключевые слова сайта, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "word": {
                            "description": "Ключевая фраза",
                            "type": "string",
                            "example": "вайлдберриз"
                          },
                          "ws": {
                            "description": "Базовая частотность",
                            "type": "integer",
                            "example": 499918
                          },
                          "wsk": {
                            "description": "\"!Очень !точная !частотность\"",
                            "type": "integer",
                            "example": 763146
                          },
                          "pos": {
                            "description": "Позиция в выдаче",
                            "type": "integer",
                            "example": 0
                          },
                          "avbid": {
                            "description": "Стоимость клика на входе в остальные показы",
                            "type": "integer",
                            "example": 65
                          },
                          "p": {
                            "type": "array",
                            "description": "Пара значений: [блок размещения объявлений, позиция в выдаче]",
                            "items": {
                              "type": "integer"
                            },
                            "example": [
                              0,
                              31
                            ]
                          },
                          "sr": {
                            "description": "Блок размещения объявлений<br>Возможные значения:<br>`1` - Блок премиум показов<br>`0` - Блок остальных показов",
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    },
                    "adconcs": {
                      "description": "Контекстная реклама, конкуренты, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "description": "Идентификатор домена",
                            "type": "integer",
                            "example": 14791338
                          },
                          "name": {
                            "description": "Имя домена",
                            "type": "string",
                            "example": "lamoda.ru"
                          },
                          "cnt": {
                            "description": "Общих ключей в топ 50",
                            "type": "integer",
                            "example": 436412
                          },
                          "adscnt": {
                            "description": "Количество объявлений в контексте",
                            "type": "integer",
                            "example": 44592
                          },
                          "adkeyscnt": {
                            "description": "Количество запросов в контексте",
                            "type": "integer",
                            "example": 1099981
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска",
                            "type": "integer",
                            "example": 3520115
                          }
                        }
                      }
                    },
                    "history": {
                      "description": "История изменения параметров сайта `{\"Дата обновления\": [\"топ 1\", \"топ 3\", \"топ 5\", \"топ 10\", \"топ 50\", \"Страниц\", “Объявлений“, “Запросов в контексте“, “Трафик с поиска“, \"Упоминания в ИИ-ответах Алисы\"]}`",
                      "type": "object",
                      "properties": {
                        "<YYYY.MM>": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "it1": {
                            "description": "Количество запросов в топ-1",
                            "type": "integer",
                            "example": 12345
                          },
                          "it3": {
                            "description": "Количество запросов в топ-3",
                            "type": "integer",
                            "example": 45678
                          },
                          "it5": {
                            "description": "Количество запросов в топ-5",
                            "type": "integer",
                            "example": 67890
                          },
                          "it10": {
                            "description": "Количество запросов в топ-10",
                            "type": "integer",
                            "example": 91011
                          },
                          "it50": {
                            "description": "Количество запросов в топ-50",
                            "type": "integer",
                            "example": 121314
                          },
                          "pagesInIndex": {
                            "description": "Страниц в поисковом индексе",
                            "type": "integer",
                            "example": 150000
                          },
                          "adsCount": {
                            "description": "Количество объявлений в контексте",
                            "type": "integer",
                            "example": 40000
                          },
                          "adKeysCount": {
                            "description": "Количество запросов в контексте",
                            "type": "integer",
                            "example": 500000
                          },
                          "visAvg": {
                            "description": "Ориентировочное значение трафика (усреднённое)",
                            "type": "integer",
                            "example": 52000
                          },
                          "aiCnt": {
                            "description": "Количество ответов ИИ за последний месяц",
                            "type": "integer",
                            "example": 245
                          }
                        }
                      },
                      "example": {
                        "2023.01": {
                          "it1": 84193,
                          "it3": 1436310,
                          "it5": 2503950,
                          "it10": 4291083,
                          "it50": 8481977,
                          "pagesInIndex": 998543,
                          "adsCount": 37360,
                          "adKeysCount": 491351,
                          "visAvg": 518964,
                          "aiCnt": 124
                        }
                      }
                    },
                    "linksHistory": {
                      "description": "История по активным ссылкам `{\"Дата обновления\": [\"входящие ссылки\", \"исходящие ссылки\", \"ссылающееся домены\", \"исходящие домены\", \"ссылки по IP\"]}`",
                      "type": "object",
                      "properties": {
                        "<YYYY.MM>": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "example": {
                        "2024.04": [
                          3979306,
                          72441715,
                          37555,
                          18,
                          11246
                        ]
                      }
                    },
                    "aiAnswersCnt": {
                      "description": "Количество упоминаний сайта в ИИ-ответах Алисы по запросам за последние 30 дней",
                      "type": "integer",
                      "example": 7323
                    },
                    "aiState": {
                      "description": "Статус построения ИИ-отчёта<br>Возможные значения:<br>`0` - Не создан<br>`10` - Создан, ожидает построения<br>`20` - Строится<br>`30` - Ошибка построения<br>`40` - Готов",
                      "type": "integer",
                      "example": 40
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/simple/keyword_dashboard": {
      "get": {
        "tags": [
          "Дашборд"
        ],
        "operationId": "Информация о ключевом слове (Дашборд)",
        "description": "Пример запроса: `https://api.keys.so/report/simple/keyword_dashboard?keyword=%D0%9F%D0%BB%D0%B0%D1%81%D1%82%D0%B8%D0%BA%D0%BE%D0%B2%D1%8B%D0%B5%20%D0%BE%D0%BA%D0%BD%D0%B0&base=msk`",
        "parameters": [
          {
            "$ref": "#/components/parameters/defaultBase"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Поисковый запрос",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о ключевом слове",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "Идентификатор ключевого слова",
                      "type": "integer",
                      "example": 29918348
                    },
                    "word": {
                      "description": "Ключевая фраза",
                      "type": "string",
                      "example": "пластиковые окна"
                    },
                    "ws": {
                      "description": "Базовая частотность",
                      "type": "integer",
                      "example": 31497995
                    },
                    "wsk": {
                      "description": "\"!Очень !точная !частотность\"",
                      "type": "integer",
                      "example": 185018
                    },
                    "isgeo": {
                      "description": "Является топонимом",
                      "type": "integer",
                      "example": 0
                    },
                    "isquest": {
                      "description": "Является вопросом",
                      "type": "integer",
                      "example": 0
                    },
                    "top": {
                      "description": "Органическая выдача",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "description": "Идентификатор домена",
                            "type": "integer",
                            "example": 14791338
                          },
                          "delta": {
                            "description": "Изменение позиции",
                            "type": "integer",
                            "example": 0
                          },
                          "churl": {
                            "description": "Устаревший параметр",
                            "deprecated": true,
                            "type": "integer",
                            "example": 0
                          },
                          "pos": {
                            "description": "Позиция",
                            "type": "integer",
                            "example": 1
                          },
                          "domain": {
                            "description": "Название домена",
                            "type": "string",
                            "example": "vekamoscow.ru"
                          },
                          "url": {
                            "description": "Целевая страница",
                            "type": "string",
                            "example": "/windows-calc/"
                          },
                          "it1": {
                            "description": "Запросов сайта в топ 1",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов сайта в топ 3",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов сайта в топ 5",
                            "type": "integer",
                            "example": 455279
                          },
                          "it10": {
                            "description": "Запросов сайта в топ 10",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов сайта в топ 50",
                            "type": "integer",
                            "example": 1683529
                          },
                          "pit1": {
                            "description": "Запросов страниц в топ 1",
                            "type": "string",
                            "example": 86990
                          },
                          "pit5": {
                            "description": "Запросов страниц в топ 5",
                            "type": "string",
                            "example": 455279
                          },
                          "pit10": {
                            "description": "Запросов страниц в топ 10",
                            "type": "string",
                            "example": 742944
                          },
                          "pit50": {
                            "description": "Запросов страниц в топ 50",
                            "type": "string",
                            "example": 1683529
                          },
                          "adsenseid": {
                            "description": "Идентификатор издателя Google Adsense",
                            "type": "string",
                            "example": "0"
                          },
                          "analytics": {
                            "description": "Идентификатор в Google Analytics",
                            "type": "string",
                            "example": 65128131
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска",
                            "type": "integer",
                            "example": 276
                          }
                        }
                      }
                    },
                    "ads": {
                      "description": "Контекстная реклама",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "did": {
                            "description": "Идентификатор домена",
                            "type": "integer",
                            "example": 14791338
                          },
                          "bid": {
                            "description": "Средняя цена клика",
                            "type": "integer",
                            "example": 5
                          },
                          "header": {
                            "description": "Заголовок объявления",
                            "type": "string",
                            "example": "Пластиковые окна КАЛЕВА! – Скидка 23%! От производителя!"
                          },
                          "amn": {
                            "description": "Прогноз списываемой суммы на первом месте",
                            "type": "integer",
                            "example": 32
                          },
                          "txt": {
                            "description": "Текст объявления",
                            "type": "string",
                            "example": "Окна от производителя. Индикатор погоды METEOGLASS в подарок! Замер 0 руб. Звоните!"
                          },
                          "facts": {
                            "description": "Массив фактов",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "links": {
                            "description": "Массив быстрых ссылок",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "cpc_min": {
                            "description": "Мин. Цена клика",
                            "type": "string",
                            "example": "0"
                          },
                          "cpc_max": {
                            "description": "Макс. Цена клика",
                            "type": "string",
                            "example": "0"
                          },
                          "domain": {
                            "description": "Домен",
                            "type": "string",
                            "example": "fabrikaokon.ru\""
                          }
                        }
                      }
                    },
                    "similar": {
                      "description": "Дополняющие фразы, первые 20 записей",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "word": {
                            "description": "Ключевая фраза",
                            "type": "string",
                            "example": "пластиковые окна бесплатно"
                          },
                          "kid": {
                            "description": "Идентификатор",
                            "type": "integer",
                            "example": 31497995
                          },
                          "cnt": {
                            "description": "Степень похожести запроса на исходный",
                            "type": "string",
                            "example": 31
                          },
                          "ws": {
                            "description": "Базовая частотность",
                            "type": "integer",
                            "example": 31497995
                          },
                          "wsk": {
                            "description": "\"!Очень !точная !частотность\"",
                            "type": "integer",
                            "example": 185018
                          },
                          "docs": {
                            "description": "Количество документов в выдаче",
                            "type": "integer",
                            "example": 38000000
                          },
                          "avbid": {
                            "description": "Средняя цена клик",
                            "type": "integer",
                            "example": 5
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/simple/domain_ad_history": {
      "get": {
        "tags": [
          "Реклама"
        ],
        "operationId": "Информация о домене (Реклама)",
        "description": "Пример запроса: `https://api.keys.so/report/simple/domain_ad_history?base=msk&domain=wildberries.ru`",
        "parameters": [
          {
            "$ref": "#/components/parameters/defaultBase"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Имя домена",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Данные о домене (Реклама)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "adCost": {
                        "type": "integer",
                        "description": "Стоимость рекламы за период",
                        "example": 25542593
                      },
                      "adsCount": {
                        "type": "integer",
                        "description": "Количество рекламных объявлений",
                        "example": 965
                      },
                      "adTraf": {
                        "type": "integer",
                        "description": "Рекламный трафик",
                        "example": 3128
                      },
                      "adKeysCount": {
                        "type": "integer",
                        "description": "Количество рекламных ключевых слов",
                        "example": 37867
                      }
                    },
                    "required": [
                      "adCost",
                      "adsCount",
                      "adTraf",
                      "adKeysCount"
                    ]
                  },
                  "example": {
                    "2025-09": {
                      "adCost": 25542593,
                      "adsCount": 965,
                      "adTraf": 3128,
                      "adKeysCount": 37867
                    },
                    "2025-08": {
                      "adCost": 22283058,
                      "adsCount": 965,
                      "adTraf": 2463,
                      "adKeysCount": 36173
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/list": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Список групповых отчетов",
        "description": "Пример запроса `https://api.keys.so/report/group/list?sort=access_date%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          }
        ],
        "responses": {
          "200": {
            "description": "Список групповых отчетов",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rid": {
                            "description": "Идентификатор отчета",
                            "type": "string",
                            "example": "3aa8f6a2603adc6fe499d42dcf82a4c8"
                          },
                          "name": {
                            "description": "Имя отчета",
                            "type": "string",
                            "example": "asa1d"
                          },
                          "base": {
                            "description": "База по которой построен отчет",
                            "type": "string",
                            "example": "msk"
                          },
                          "top": {
                            "description": "Охват позиций",
                            "type": "integer",
                            "example": 10
                          },
                          "create_date": {
                            "description": "Дата создания отчета",
                            "type": "string",
                            "example": "2024-04-22 04:03:15"
                          },
                          "access_date": {
                            "description": "Последнее обновление",
                            "type": "string",
                            "example": "2024-04-22 04:03:27"
                          },
                          "state": {
                            "description": "Статус отчета<br><br>`1` - В обработке<br><br>`2` - Ошибка обработки<br><br>`10` - Обработка завершена",
                            "type": "integer",
                            "example": 10
                          },
                          "owner": {
                            "description": "Владелец отчета",
                            "type": "string",
                            "example": "example@example.ru"
                          },
                          "canDelete": {
                            "description": "Возможность удаления отчета",
                            "type": "boolean",
                            "example": true
                          },
                          "canChangeOwner": {
                            "description": "Возможность сменить владельца",
                            "type": "boolean",
                            "example": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group": {
      "post": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Создание отчета",
        "description": "Создание отчета и получение идентификатора, который понадобится в дальнейшем для взаимодействия с отчетом.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base": {
                    "$ref": "#/components/schemas/base"
                  },
                  "top": {
                    "description": "Охват позиций",
                    "type": "integer",
                    "default": 10,
                    "enum": [
                      10,
                      50
                    ]
                  },
                  "domains": {
                    "description": "Массив доменов в отчете",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "keys.so",
                      "dodopizza.ru"
                    ]
                  },
                  "name": {
                    "description": "Имя отчета"
                  }
                },
                "required": [
                  "domains"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Идентификатор отчета",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "rid": {
                      "description": "Идентификатор отчета",
                      "type": "string",
                      "example": "696b62ec6bceaf00529c4dd4bce02b47"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/state/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Статус обработки отчета",
        "description": "Пример запроса `https://api.keys.so/report/group/state/090e6fcc65ea67fcc8f0bd00ade39a`",
        "responses": {
          "200": {
            "description": "Статус обработки отчета",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "state": {
                      "description": "Статус отчета<br><br>`1` - В обработке<br><br>`2` - Ошибка обработки<br><br>`10` - Обработка завершена",
                      "type": "integer",
                      "example": 10
                    },
                    "progress": {
                      "description": "Процент прогресса создания отчета",
                      "type": "integer",
                      "example": 100
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/domains/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Домены в отчете",
        "description": "Пример запроса `https://api.keys.so/report/group/domains/3aa8f62903adc6fe499d42dcf82a4c8?sort=it50%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Домены в отчете",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор",
                            "type": "string",
                            "example": "dodopizza.ru"
                          },
                          "name": {
                            "description": "Имя домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "dodopizza.ru"
                          },
                          "path": {
                            "description": "Раздел<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "/"
                          },
                          "it1": {
                            "description": "Запросов в топ 1<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов в топ 3<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов в топ 5<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 45527
                          },
                          "it10": {
                            "description": "Запросов в топ 10<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1683529
                          },
                          "pagesinindex": {
                            "description": "Количество страниц сайта, найденных в выдаче<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 117711
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 110373
                          },
                          "adscnt": {
                            "description": "Количество объявлений в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 16075
                          },
                          "adkeyscnt": {
                            "description": "Количество запросов в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 732392
                          },
                          "adtraf": {
                            "description": "Оценка трафика из контекста без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 33507
                          },
                          "adcost": {
                            "description": "Оценка бюджета без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, на стоимость клика, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 1110959
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/organic/keywords/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Органическая выдача - ключевые слова группы",
        "description": "Пример запроса `https://api.keys.so/report/group/organic/keywords/696b62ec6bceaf00529c4dd4bce02b47?sort=wsk%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ключевые слова группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор фразы<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 31497995
                          },
                          "avbid": {
                            "description": "Средняя цена клика<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 5
                          },
                          "word": {
                            "description": "Ключевая фраза<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "одежда для беременных интернет магазин недорогая"
                          },
                          "weight": {
                            "description": "Количество сайтов-конкурентов в топ50<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": 4
                          },
                          "ws": {
                            "description": "Базовая частотность<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 31497995
                          },
                          "wsk": {
                            "description": "\"!Очень !точная !частотность\"<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 185018
                          },
                          "numwords": {
                            "description": "Количество слов в запросе<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 6
                          },
                          "isgeo": {
                            "description": "Является топонимом<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 6
                          },
                          "isquest": {
                            "description": "Является вопросом<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 6
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/organic/concurents/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Органическая выдача - конкуренты группы",
        "description": "Пример запроса `https://api.keys.so/report/group/organic/concurents/696b62ec6bceaf00529c4dd4bce02b47?sort=cnt%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Конкуренты группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор фразы<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 31497995
                          },
                          "name": {
                            "description": "Имя домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "wildberries.ru"
                          },
                          "perc": {
                            "description": "Степень похожести домена (% общих ключей от ключей домена)<br>Возможность фильтровать по полю: `да`",
                            "type": "number",
                            "example": 28.1
                          },
                          "cnt": {
                            "description": "Общих ключей в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 479138
                          },
                          "it1": {
                            "description": "Запросов в топ 1<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов в топ 3<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов в топ 5<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 455279
                          },
                          "it10": {
                            "description": "Запросов в топ 10<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1683529
                          },
                          "pagesinindex": {
                            "description": "Количество страниц сайта, найденных в выдаче<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 117711
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 110373
                          },
                          "adscnt": {
                            "description": "Количество объявлений в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 16075
                          },
                          "adkeyscnt": {
                            "description": "Количество запросов в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 732392
                          },
                          "adtraf": {
                            "description": "Оценка трафика из контекста без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 33507
                          },
                          "adcost": {
                            "description": "Оценка бюджета без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, на стоимость клика, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 1110959
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/organic/sitepages/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Органическая выдача - страницы группы",
        "description": "Пример запроса `https://api.keys.so/report/group/organic/sitepages/696b62ec6bceaf00529c4dd4bce02b47?sort=vis%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Страницы группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "description": "Имя домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "likewear.ru"
                          },
                          "url": {
                            "description": "Адрес страницы сайта<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "/content/size.html"
                          },
                          "it1": {
                            "description": "Запросов в топ 1<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов в топ 3<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов в топ 5<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 455279
                          },
                          "it10": {
                            "description": "Запросов в топ 10<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1683529
                          },
                          "vis": {
                            "description": "Оценка видимости страницы в поиске. Чем больше - тем больше потенциал трафика на страницу<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 110373
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/context/keywords/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Контекстная реклама - ключевые слова группы",
        "description": "Пример запроса `https://api.keys.so/report/group/context/keywords/696b62ec6bceaf00529c4dd4bce02b47?sort=weight%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ключевые слова группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор фразы<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 31497995
                          },
                          "weight": {
                            "description": "Количество сайтов-конкурентов (из числа сайтов в отчете) в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 4
                          },
                          "ws": {
                            "description": "Базовая частотность<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 191654
                          },
                          "wsk": {
                            "description": "\"!Очень !точная !частотность\"<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": 2289
                          },
                          "numwords": {
                            "description": "Количество слов в запросе<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 2
                          },
                          "isgeo": {
                            "description": "Является топонимом<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 0
                          },
                          "isquest": {
                            "description": "Является вопросом<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 0
                          },
                          "avbid": {
                            "description": "Средняя цена клика<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 5
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/context/concurents/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Контекстная реклама - конкуренты группы",
        "description": "Пример запроса `https://api.keys.so/report/group/context/concurents/696b62ec6bceaf00529c4dd4bce02b47?sort=cnt%7Cdesc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Конкуренты группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор фразы<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 31497995
                          },
                          "name": {
                            "description": "Имя домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "wildberries.ru"
                          },
                          "perc": {
                            "description": "Степень похожести домена (% общих ключей от ключей домена)<br>Возможность фильтровать по полю: `да`",
                            "type": "number",
                            "example": 28.1
                          },
                          "cnt": {
                            "description": "Общих ключей в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 479138
                          },
                          "it1": {
                            "description": "Запросов в топ 1<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов в топ 3<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов в топ 5<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 455279
                          },
                          "it10": {
                            "description": "Запросов в топ 10<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1683529
                          },
                          "pagesinindex": {
                            "description": "Количество страниц сайта, найденных в выдаче<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 117711
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 110373
                          },
                          "adscnt": {
                            "description": "Количество объявлений в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 16075
                          },
                          "adkeyscnt": {
                            "description": "Количество запросов в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 732392
                          },
                          "adtraf": {
                            "description": "Оценка трафика из контекста без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 33507
                          },
                          "adcost": {
                            "description": "Оценка бюджета без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, на стоимость клика, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 1110959
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/context/ads/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Контекстная реклама - объявления группы",
        "description": "Пример запроса `https://api.keys.so/report/group/context/ads/696b62ec6bceaf00529c4dd4bce02b47?sort=keyscnt%7Casc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Объявления группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aid": {
                            "description": "Идентификатор объявления<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 234121
                          },
                          "domain": {
                            "description": "Название домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "okna-home.com"
                          },
                          "header": {
                            "description": "Заголовок объявления<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "Пластиковые окна КАЛЕВА! – Скидка 23%! От производителя!"
                          },
                          "txt": {
                            "description": "Текст объявления<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "Окна от производителя. Индикатор погоды METEOGLASS в подарок! Замер 0 руб. Звоните!"
                          },
                          "links": {
                            "description": "Массив быстрых ссылок<br>Возможность фильтровать по полю: `да`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "facts": {
                            "description": "Массив фактов<br>Возможность фильтровать по полю: `да`",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "keyscnt": {
                            "description": "Количество запросов<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/context/ads/links/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Контекстная реклама - объявления, уникальные ссылки группы",
        "description": "Пример запроса `https://api.keys.so/report/group/context/ads/links/696b62ec6bceaf00529c4dd4bce02b47?sort=cnt%7Casc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Объявления, уникальные ссылки группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "links": {
                            "description": "Уникальные ссылки<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "Вечерние платья"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/group/context/ads/facts/<rid>": {
      "get": {
        "tags": [
          "Групповые отчеты"
        ],
        "operationId": "Контекстная реклама - объявления, уникальные факты группы",
        "description": "Пример запроса `https://api.keys.so/report/group/context/ads/facts/696b62ec6bceaf00529c4dd4bce02b47?sort=cnt%7Casc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/groupRid"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Объявления, уникальные факты группы",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "facts": {
                            "description": "Уникальные факты<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "Более 10 лет на рынке"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/simple/organic/concurents": {
      "get": {
        "tags": [
          "Органическая выдача"
        ],
        "operationId": "Органическая выдача - конкуренты",
        "description": "Пример запроса `https://api.keys.so/report/simple/organic/concurents?base=msk&domain=wildberries.ru&top=10&sort=cnt%7Casc&page=1&per_page=25`",
        "parameters": [
          {
            "$ref": "#/components/parameters/defaultBase"
          },
          {
            "$ref": "#/components/parameters/defaultDomain"
          },
          {
            "$ref": "#/components/parameters/defaultP"
          },
          {
            "$ref": "#/components/parameters/defaultPP"
          },
          {
            "$ref": "#/components/parameters/defaultSort"
          },
          {
            "$ref": "#/components/parameters/defaultFilter"
          },
          {
            "$ref": "#/components/parameters/topPositions"
          }
        ],
        "responses": {
          "200": {
            "description": "Органическая выдача - конкуренты",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "current_page": {
                      "description": "Текущая страница",
                      "type": "integer",
                      "example": 1
                    },
                    "per_page": {
                      "description": "Записей на странице",
                      "type": "integer",
                      "example": 25
                    },
                    "last_page": {
                      "description": "Последняя страница",
                      "type": "integer",
                      "example": 85
                    },
                    "total": {
                      "description": "Всего записей",
                      "type": "integer",
                      "example": 2124
                    },
                    "data": {
                      "description": "Данные ответа",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Идентификатор домена<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 14791338
                          },
                          "name": {
                            "description": "Имя домена<br>Возможность фильтровать по полю: `да`",
                            "type": "string",
                            "example": "wildberries.ru"
                          },
                          "perc": {
                            "description": "Степень похожести домена (% общих ключей от ключей домена)<br>Возможность фильтровать по полю: `да`",
                            "type": "number",
                            "example": 28.1
                          },
                          "theme": {
                            "description": "Тематичность домена (% ключей анализируемого домена в ключах домена)<br>Возможность фильтровать по полю: `да`",
                            "type": "number",
                            "example": 34.7
                          },
                          "cnt": {
                            "description": "Общих ключей в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 479138
                          },
                          "it1": {
                            "description": "Запросов в топ 1<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 86990
                          },
                          "it3": {
                            "description": "Запросов в топ 3<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 302770
                          },
                          "it5": {
                            "description": "Запросов в топ 5<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 455279
                          },
                          "it10": {
                            "description": "Запросов в топ 10<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 742944
                          },
                          "it50": {
                            "description": "Запросов в топ 50<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 1683529
                          },
                          "pagesinindex": {
                            "description": "Количество страниц сайта, найденных в выдаче<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 117711
                          },
                          "vis": {
                            "description": "Оценка трафика с поиска<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 110373
                          },
                          "adscnt": {
                            "description": "Количество объявлений в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 16075
                          },
                          "adkeyscnt": {
                            "description": "Количество запросов в контексте<br>Возможность фильтровать по полю: `да`",
                            "type": "integer",
                            "example": 732392
                          },
                          "adtraf": {
                            "description": "Оценка трафика из контекста без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 33507
                          },
                          "adcost": {
                            "description": "Оценка бюджета без учета каких-либо таргетингов. Произведение точной частотности, на прогноз CTR, на стоимость клика, разделенное на 30 дней<br>Возможность фильтровать по полю: `нет`",
                            "type": "integer",
                            "example": 1110959
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "$ref": "#/components/responses/202"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "X-Keyso-TOKEN": []
          },
          {
            "auth-token": []
          }
        ]
      }
    },
    "/report/simple/organic/concurent_pages": {
[...]
